[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/
.vs/
.vscode/
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.tmp
*.csproj
*.sln
*.unityproj
.DS_Store
Thumbs.db
*.tar.7z
*.zip
